<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Typewriter</title>
    <link rel="stylesheet" type="text/css" href="/spectre.min.css">
    <link rel="shortcut icon" href="http://www.example.com/my_empty_resource" />
  </head>
  <body>
    <div class="ui grid container">
      <%= yield %>
    </div>
  </body>
  <script src="/semantic.min.js"></script>
</html>
