
<div class="container">
<div class="column col-8 centered">
<div class="card">
  <div class="card-header">
    <h4 class="card-title">Login</h4>
    <h6 class="card-meta">New to Typeformer? <a href="/signup">Sign up </a></h6>
  </div>
  <div class="card-body">
    <form method="POST" action-"/login">
      <div class="form-group">
        <label class="form-label">Email</label>
        <input class="form-input" name="username" type="text" id="input-example-1" placeholder="your@email.com" />
        <label class="form-label">Password</label>
        <input class="form-input" name="password" type="password" placeholder="" />

      </div>
  </div>
  <div class="card-footer">
    <button type="submit" class="btn btn-primary">Do</button>
  </div>

    </form>
</div>
</div>
</div>
