<h3>Provide Your Api Key</h3>
<p>Maybe put some information here on where to find the key?</p>

<form method="POST" action="/setup">
  <p>Your Api Key: <input type="text" name="api_key"></p>
  <input type="submit">
</form>
